.absolute-image {
  opacity: 0.25;
  position: absolute;
  object-fit: cover;
}

#photo1 {
  right: 0;
  top: 50px;
}

#photo2 {
  right: 0;
  bottom: 10px;
  max-height: 400px;
}

@media(max-width: 590px) {
  #photo1, #photo2 {
    display: none;
  }
}
