.card-category {
  margin: auto;
  margin-bottom: 20px;
  max-width: 300px;
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 10px;
  &:hover {
    transform: scale(1.05);
  }
}

.map-home {
  max-width: 75%;
}

@media(max-width: 1200px) {
  .map-home {
    max-width: 100%;
  }
}

@media(max-width: 590px) {
  .map-home {
    display: none;
  }
}

#prez-card .card-category {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), asset-url('flotte.jpg');
}
#concrete-card .card-category {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), asset-url('beton.jpg');
}
#quarries-card .card-category {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), asset-url('carriere.jpg');
}
#publics-card .card-category {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), asset-url('chantier.jpg');
}
