<div class="banner-title-toupie">
  <h1>Travaux Publics</h1>
</div>

<div class="calin-container">
  <p class="my-4">
    L'<span class="bold">Entreprise Paul CALIN</span> réalise <span class="bold">tous types de travaux publics et privés :</span>
  </p>
  <div class="row">
    <div class="col-lg-8 col-12">
      <ul class="long-list">
        <li>terrassements, et remblais,</li>
        <li>plateformes industrielles, logistiques, commerciales,</li>
        <li>aménagements et renaturation de cours d'eau, digues et barrages, ouvrages hydrauliques,</li>
        <li>terrassements, plateformes et voiries de parcs éoliens et photovoltaïques,</li>
        <li>travaux de voiries, parkings, et trottoirs,</li>
        <li>lotissements,</li>
        <li>travaux de V.R.D.,</li>
        <li>réseaux d'assainissement, réseaux AEP, et réseaux secs,</li>
        <li>goudronnages,</li>
        <li>voiries rurales et forestières,</li>
        <li>voiries en béton,</li>
        <li>soutènements en enrochements.</li>
      </ul>
      <p class="my-3">
        Pour des <span class="bold">maîtres d'ouvrages publics et privés</span> :
      </p>
      <ul class="long-list">
        <li>Départements, communautés de communes, communes, AF.</li>
        <li>Industriels, logisticiens, commerces, agriculteurs.</li>
        <li>Producteurs d'énergie : éolienne, photovoltaïque, méthanisations.</li>
      </ul>
    </div>
    <div class="col-lg-4 col-12 d-flex align-items-center justify-content-center">
      <%= image_tag 'beton.jpg', style: 'max-width: 100%;' %>
    </div>
  </div>

  <p class="my-3">
    De 2005 à fin 2019, l'entreprise CALIN a réalisé les pistes d'accès, les plateformes de grutage, et les terrassements des massifs pour la construction de plus de 300 éoliennes en Lorraine et Champagne-Ardenne.
  </p>

  <div class="row">
    <div class="col-lg-4 col-12 d-flex align-items-center justify-content-center">
      <%= image_tag 'beton.jpg', style: 'max-width: 100%;' %>
    </div>
    <div class="col-lg-8 col-12">
      <p class="my-3">
        Quelques <span class="bold">chantiers récents ou en cours</span> :
      </p>
      <ul class="long-list">
        <li>extension de l'usine KCC à Villey-St-Etienne (54),</li>
        <li>bâtiment logistique WM88 à Chatenois (88),</li>
        <li>restructuration du silo CAL à Aydoilles (88),</li>
        <li>terrassements et VRD pour Bricomarché à Mirecourt (88),</li>
        <li>terrassements et VRD pour une méthanisation à Fronville (52),</li>
        <li>aménagement de la digue de Fouchy pour Troyes Champagne Métropole (10),</li>
        <li>VRD de la nouvelle Fromagerie DELIN à Chevillon (52),</li>
        <li>lotissement à Villiers-en-Lieu (52)...</li>
      </ul>
      <p class="my-3">
        Quelques <span class="bold">chantiers référence depuis 10 ans</span> :
      </p>
      <ul class="long-list">
        <li>VRD de l'extension EDF à Velaines (55),</li>
        <li>aménagement de la digue de Foicy pour le Grand Troyes (10),</li>
        <li>réhabilitation du canal d'amenée Seine - réservoir Aube (10),</li>
        <li>terrassements, pistes, et plateformes pour plus de 300 éoliennes,</li>
        <li>terrassements, VRD, soutènement en enrochements, et parkings pour les extensions du Centre Leclerc à Neufchateau (88)...</li>
      </ul>
    </div>
  </div>
</div>
