<div class="banner-title-toupie">
  <h1>Carrières et Sablières</h1>
</div>

<div class="calin-container">
  <p class="mt-5">
    L'entreprise CALIN et sa filiale BOULOGNE sont titulaires d'une dizaine d'autorisations préfectorales de Carrières, dans les départements des Vosges (88), de la Haute-Marne (52), de la Meuse (55), et de la Meurthe-et-Moselle (54).
  </p>
  <p class="my-3">
    Ces carrières exploitent plusieurs types de gisements :
  </p>
  <div class="row">
    <div class="col-lg-6 col-12">
      <ul>
        <li>des roches massives calcaires, à :</li>
      </ul>
      <p class="ml-5">
        ATTIGNÉVILLE (88),
        <br>
        GONDRECOURT-le-Château (55),
        <br>
        MAGNEUX / BROUSSEVAL (52),
        <br>
        SOMMERÉCOURT (52),
        <br>
        TRAMONT-LASSUS (54).
      </p>
    </div>
    <div class="col-lg-6 col-12">
      <p class="mb-3">
        <span class="bold">Ces carrières produisent :</span>
      </p>
      <p class="">
        des concassés 0/150, 0/80, 0/50, 0/315, 0/20,
        <br>
        des sables concassés 0/6,
        <br>
        des graviers 6/20, 20/31, 30/80,
        <br>
        des pierres à gabions 80/150,
        <br>
        des enrochements triés.
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center my-4">
    <%= image_tag 'carriere.jpg', style: 'max-width: 50%;' %>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12">
      <ul>
        <li>des sables et graviers alluvionnaires :</li>
      </ul>
      <p class="ml-5">
        dans la vallée de la Meuse, à COUSSEY / SIONNE (88),
        <br>
        et dans la vallée de la Marne,
        <br>
        dans le Perthois, à l'ouest de SAINT-DIZIER (52).
        <br><br>
        Les sables et graviers extraits dans ces sablières sont élaborés (par lavage, criblage, et concassage) sur 3 sites :
        <br>
        à SAINT-DIZIER (52) sur le site CALIN,
        <br>
        à BARVILLE (88) sur le site CALIN,
        <br>
        à St-DIZIER / MOESLAINS (52) sur le site BOULOGNE.
      </p>
    </div>
    <div class="col-lg-6 col-12">
      <p class="mb-3">
        <span class="bold">Selon les sites, les productions sont :</span>
      </p>
      <p class="">
        sable 0/2,5 semi-concassé,
        <br>
        sable 0/4  roulé,
        <br>
        mélanges à béton 0/12, 0/20, ou 0/22,
        <br>
        gravillons 4/8, ou 4/12,
        <br>
        graviers 8/20, ou 11/22.
      </p>
    </div>
  </div>

  <p class="my-3">
    Ces sites produisent des sables et des graviers alluvionnaires, roulés ou semi-concassés, destinés à la fabrication des bétons.
  </p>
  <div class="d-flex justify-content-center align-items-center my-4">
    <%= image_tag 'carriere.jpg', style: 'max-width: 50%;' %>
  </div>
  <p class="my-3">
    La sté BOULOGNE exploite à SAINT-DIZIER / MOESLAINS (52) un gisement de sables siliceux fins de l'Aptien supérieur.
  </p>
  <p class="my-3">
    Les productions de ces différentes carrières alimentent des chantiers de Travaux-Publics et de Bâtiment, des Centrales à béton, et des usines de préfabrication.
  </p>
  <p class="my-3">
    Dans plusieurs de nos carrières de roche calcaire, nous accueillons les déblais inertes issus de chantiers BTP.
    <br>
    Les déblais rocheux, ou bétons issus de démolition, sont triés, et re-concassés, pour être ré-employés sur des chantiers.
    <br>
    Les déblais terreux sont valorisés dans les réaménagements des carrières.
  </p>
  <p class="my-3 bold">
    Toutes les productions font l'objet de contrôles Qualité réguliers par un laboratoire extérieur.
  </p>
  <p class="my-3">
    Notre parc de camions nous permet des livraisons par semi-bennes, 8x4 bennes, et 6x4 bennes ou bi-bennes.
  </p>
  <div class="d-flex justify-content-center align-items-center my-4">
    <%= image_tag 'carriere.jpg', style: 'max-width: 50%;' %>
  </div>
  <p class="my-3">
    Nous nous appuyons sur des associations environnementales régionales pour les suivis écologiques (faune et flore) de nos carrières.
  </p>
</div>


