<div class="banner-title-toupie">
  <h1>Nos Filiales</h1>
</div>

<div class="calin-container">
  <div class="nav-steps my-2">
    <%= link_to sites_path do %>
      <p class="">< Nos sites</p>
    <% end %>
    <%= link_to concrete_path do %>
      <p class="">Béton ></p>
    <% end %>
  </div>

  <div class="row my-4">
    <div class="col-lg-9 col-12">
      <p>L'<span class="bold">entreprise BOULOGNE</span> a été rachetée (à la famille BOULOGNE) début <span class="bold">1997</span>.</p>
      <p>Elle exploite la carrière de roche massive calcaire de MAGNEUX / BROUSSEVAL (52), et une sablière d'alluvions de la Marne et de sable siliceux fins à SAINT-DIZIER / MOESLAINS (52).</p>
      <p>Son <span class="bold">siège social est à SAINT-DIZIER</span>, 24 route de Moeslains (avant l'entrée de la BA113), où sont également un <span class="bold">atelier d'entretien, et l'<span class="bold">installation de production de sables et graviers pour bétons.</p>
      <p>L'entreprise BOULOGNE <span class="bold">emploie 20 personnes</span>, et son CA en 2019 est de <span class="bold">2 Millions d'€uros</span>.</p>
      <p><span class="bold">Yves CALIN</span> dirige l'entreprise BOULOGNE.</p>
    </div>
    <div class="col-lg-3 col-12 d-flex align-items-center justify-content-center">
      <%= image_tag 'logos/logo-boulogne.jpg', style: 'max-width: 200px', class: "mb-3" %>
    </div>
  </div>

  <div class="row flex-lg-row flex-column-reverse">
    <div class="col-lg-3 col-12 d-flex align-items-center justify-content-center">
      <%= image_tag 'logos/logo-c2b.png', style: 'max-width: 100px', class: "mb-3" %>
    </div>
    <div class="col-lg-9 col-12">
      <p>La <span class="bold">SAS CALIN BAR Béton (C2B)</span> a été créée début <span class="bold">2011</span> pour racheter à GEDIMAT-COLLOT son activité Béton prêt à l'emploi à BAR-LE-DUC (55), et sa centrale à béton de VARNEY / VAL D'ORNAIN (55).</p>
      <p>Elle exploite la <span class="bold">centrale à béton de VARNEY / VAL D'ORNAIN</span>, et commercialise le béton prêt à l'emploi au départ de la centrale ICARIA à BAR-LE-DUC.</p>
      <p>Son siège social est à VAL D’ORNAIN, hameau de REMBERCOURT.</p>
      <p>C2B <span class="bold">emploie 5 personnes</span>, et son CA en 2019 est de <span class="bold">1,2 Millions d'€uros</span>.</p>
      <p><span class="bold">Guy CALIN</span> dirige C2B.</p>
    </div>
  </div>
</div>
