.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  padding-top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.filter-button {
  width: 180px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  color: black;
  p {
    font-size: 16px !important;
  }
  &:hover {
    opacity: 0.7;
  }
}

.filter-active {
  background-color: lightgrey;
}

.mapboxgl-popup-close-button:focus {
  outline: transparent;
}

.sites-page-sm-container {
  display: none;
}
.sites-page-lg-container {
  display: flex;
}

@media(max-width: 1199px) {
  .filter-button {
    width: 162px;
  }
}

@media(max-width: 1125px) {
  .filter-buttons {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .filter-button {
      width: 190px;
    }
  }
}

@media(max-width: 952px) {
  .filter-buttons .filter-button {
    width: 162px;
  }
}

@media(max-width: 900px) {
  .sites-page-lg-container {
    display: none;
  }
  .sites-page-sm-container {
    display: block;
  }
}
