.sidebar-calin {
  .side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: $brand-blue;
  color: white;
  font-weight: 300;
  h3 {
    height: 65px;
    text-align: center;
    font-weight: 400;
  }
  img {
    width: 180px;
    margin-left: 5px;
  }
  a {
    display:inline-block;
    color: white;
  }
}

.sidebar-container {
  margin-left: 250px;
}

.sidebar-item {
  border-bottom: solid 1px white;
  a {
    font-size: 19px;
    vertical-align: middle;
    display: table-cell;
    height: 45px;
    width: 210px;
    text-align: center;
    color: white;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-sub-items {
  border-bottom: solid 1px white;
  .sidebar-sub-item {
    a {
      font-size: 18px;
      vertical-align: middle;
      display: table-cell;
      height: 28px;
      width: 210px;
      color: white;
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}

.sidebar-bottom {
  p {
    margin: 0;
    font-weight: 400;
  }
}

.hamburger {
  display: none;
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: white !important;
  }
  &:focus {
    outline: transparent;
  }
}

@media(max-width: 768px) {
  .sidebar-top, .sidebar-bottom {
    display: none;
  }
  .sidebar-calin {
    width: 60px;
  }
  .sidebar-container {
    margin-left: 60px;
  }
  .hamburger {
    display: block;
    position : absolute;
    right: -4px;
  }
  .sidebar-open {
    z-index: 3;
    display: flex;
    width: 310px;
    .sidebar-top, .sidebar-bottom {
      display: flex;
    }
    .sidebar-bottom {
      margin-top: 20px;
    }
  }
}
