.calin-container {
  margin: 0 50px;
}

.bold {
  font-weight: 600;
}

li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
}
li::before {
  content: "\25C6";
  color: $blue; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.long-list {
  li {
    margin-bottom: 0;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.nav-steps {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  p {
    color: grey;
    margin-bottom: 0;
  }
}

@media(max-width: 700px) {
  .calin-container {
    margin: 0 20px;
  }
}

@media(max-width: 500px) {
  .calin-container {
    margin: 0 10px;
  }
}
